/* h2{
    color: green;
} */

.bio-box
{
    border: 1px solid black;
    /* box-sizing: border-box; */
    float: left;
    font-size: 1rem;
    /* margin: 40px 1% 0; */
    padding: 2%;
    width: 25%;
    /* padding: 0 2% 2%; */
}

/* .bio-box img {
    width: 100%;update
} */

/* .bio-box h3{
    color: #fff;
    font-size: 1.3em;
    margin: -40px 0 1em;
    text-align: center;

} */

.bio-wrapper
{
    background-color: #84f1b5;
    font-size: 24px;
    height: 300px;
    overflow: scroll;
    /* max-width: scroll; */
}
.bio-wrapper:after
{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.social-list 
{
    list-style: none;
  padding: 0px;
}
.social-list >li
{
   display: inline-block;
    color: red;
}
/* .social-link
{
    display: inline-block;
    color: green;
} */