h2{
    color: green;
}

.bio-box
{
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 40px 1% 0;
    padding: 2%;
    width: 23%;
    padding: 0 2% 2%;
}

.bio-box img {
    width: 100%;
}

.bio-box h3{
    color: #fff;
    font-size: 1.5em;
    margin: -40px 0 1em;
    text-align: center;

}

.bio-wrapper
{
    background-color: #c0c0c3;
    font-size: 24px;
    margin: auto;
    max-width: 960px;
}
.bio-wrapper:after
{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}